/* Kasus tablet ukuran 1024 x 600 */
@media only screen and (max-height: 576px) {
  .hero {
    margin-top: 9rem;
  }
}

/* Layar Tablet */
@media only screen and (max-width: 768px) {
  /* Header */
  .navbar__nav {
    justify-content: space-between;
  }
  /* Tutup Header */

  /* Main */
  .hero {
    margin-top: 15rem;
  }

  .hero__image {
    width: 40%;
  }

  .section-divider {
    width: 80%;
  }

  .gallery {
    margin: 0;
  }
  /* Tutup Main */
}
/* Tutup Layar Tablet */
